src/main/resources/entry.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Entry">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1024"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element type="xs:string" name="creationDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>